<!DOCTYPE HTML>
<html >
<head>
<title>html5响应式装饰公司网站模板</title>
<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="generator" content=""  data-variable=",,,,,zstyle" />
<meta name="description" content="关键词" />
<meta name="keywords" content="描述" />
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<!--[if lt IE 10]>
<script src="js/media.match.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/classlist.min.js"></script> 
<![endif]-->
</head>




<body class="met-navfixed">
<!--[if lte IE 8]>
	<div class="text-center padding-top-50 padding-bottom-50 bg-blue-grey-100">
	<p class="browserupgrade font-size-18">你正在使用一个<strong>过时</strong>的浏览器。请<a href="http://browsehappy.com/" target="_blank">升级您的浏览器</a>，以提高您的体验。</p>
	</div>
<![endif]-->

<nav id="mobileNav" style="display:none;">
  <ul>
    <li><a  href="index.html" title="首页">首页</a></li>


    <li><span>关于我们</span>


      <ul>
	
							<li class=""><a href="about.html"  title="关于我们">关于我们</a></li>
 
        

   <li><a href="about.html"  title="公司简介">公司简介</a> 
      
 
        </li>


   <li ><a href="about.html"  title="企业文化">企业文化</a> 
      
 
        </li>


   <li ><a href="about.html"  title="工程保修">工程保修</a> 
      
 
        </li>


   <li ><a href="about.html"  title="装修流程">装修流程</a> 
      
 
        </li>


   <li ><a href="feedback.html"  title="在线反馈">在线反馈</a> 
      
 
        </li>


   <li ><a href="contact.html"  title="联系我们">联系我们</a> 
      
 
        </li>

      </ul>
 
    </li>


    <li class="active"><span>服务项目</span>


      <ul>
	
							<li class=""><a href="product.html"  title="全部">全部</a></li>
 
        

   <li ><a href="product.html"  title="精装修房">精装修房</a> 
      
 
        </li>


   <li ><a href="product.html"  title="酒店会所">酒店会所</a> 
      
 
        </li>


   <li ><a href="product.html"  title="公共设施">公共设施</a> 
      
 
        </li>


    <li class="active"><span>办公医疗</span>
      

          <ul>
	
							<li class=""><a href="product.html"  title="全部">全部</a></li>


            <li class="active"><a href="product.html"  title="办公设施">办公设施</a></li>

            <li><a href="product.html"  title="医疗建设">医疗建设</a></li>

          </ul>
 
        </li>

      </ul>
 
    </li>


    <li ><span>客户案例</span>


      <ul>
	
							<li class=""><a href="case.html"  title="全部">全部</a></li>
 
        

   <li ><a href="case.html"  title="精装修房">精装修房</a> 
      
 
        </li>


   <li ><a href="case.html"  title="酒店会所">酒店会所</a> 
      
 
        </li>


   <li ><a href="case.html"  title="公共设施">公共设施</a> 
      
 
        </li>


    <li ><span>办公医疗</span>
      

          <ul>
	
							<li class=""><a href="case.html"  title="全部">全部</a></li>


            <li><a href="case.html"  title="办公设施">办公设施</a></li>

            <li><a href="case.html"  title="医疗建设">医疗建设</a></li>

          </ul>
 
        </li>

      </ul>
 
    </li>


    <li ><span>新闻资讯</span>


      <ul>
	
							<li class=""><a href="news.html"  title="全部">全部</a></li>
 
        

   <li ><a href="news.html"  title="公司新闻">公司新闻</a> 
      
 
        </li>


   <li ><a href="news.html"  title="行业动态">行业动态</a> 
      
 
        </li>

      </ul>
 
    </li>


   <li ><a href="job.html"  title="在线招聘" >在线招聘</a> 

 
    </li>
 

  </ul>
</nav>

<div id="page">

<nav class="navbar navbar-default met-nav navbar-fixed-top" role="navigation">
        <div class="container">
			<div class="row">
			    <div class="navbar-header">
 
<a href="index.html" class="navbar-logo vertical-align" title="装饰公司">
						<div class="vertical-align-middle"><img src="picture/logo.png" alt="装饰公司" title="装饰公司" /></div>
					</a>

				
                </div>
				
				<div class="pull-right econav">
				<ul>
				

					
					<li>
					    <button type="button"  data-target="#site-navbar-search"
      data-toggle="modal">
                               <span class="sr-only">Toggle Search</span>
                               <i class="icon wb-search"></i>
                         </button>
					</li>				    
 
 


					
					  <button class="mobileMenuBtn" type="button"><span class="icon fa-bars"></span></button>
				    
 


				</ul>
				</div>
				<div class="collapse navbar-collapse navbar-collapse-toolbar" id="example-navbar-default-collapse">



				<ul class="nav navbar-nav navbar-right navlist">
					<li><a href="index.html" title="首页" class="link">首页</a></li>

					<li class="dropdown margin-left-0 ecodropdown">
						<a 
							class="dropdown-toggle link" 
							data-toggle="dropdown" 
							
							href="about.html" 
							aria-expanded="false" 
							role="button" 
							
							title="关于我们"
						>关于我们 <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
	
							<li class="visible-xs-block"><a href="about.html"  title="关于我们">关于我们</a></li>
	

							<li><a href="about.html" class="active"  title="公司简介">公司简介</a></li>	

							<li><a href="about.html" class=""  title="企业文化">企业文化</a></li>	

							<li><a href="about.html" class=""  title="工程保修">工程保修</a></li>	

							<li><a href="about.html" class=""  title="装修流程">装修流程</a></li>	

							<li><a href="feedback.html" class=""  title="在线反馈">在线反馈</a></li>	

							<li><a href="contact.html" class=""  title="联系我们">联系我们</a></li>	

						</ul>
					</li>


					<li class="dropdown margin-left-0 ecodropdown">
						<a 
							class="dropdown-toggle link active" 
							data-toggle="dropdown" 
							
							href="product.html" 
							aria-expanded="false" 
							role="button" 
							
							title="服务项目"
						>服务项目 <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
	
							<li class="visible-xs-block"><a href="product.html"  title="全部">全部</a></li>
	

							<li><a href="product.html" class=""  title="精装修房">精装修房</a></li>	

							<li><a href="product.html" class=""  title="酒店会所">酒店会所</a></li>	

							<li><a href="product.html" class=""  title="公共设施">公共设施</a></li>	

							<li class="dropdown-submenu">
								<a href="product.html" class="active"  role="button" tabindex="-1">办公医疗</a>
								<ul class="dropdown-menu animate" role="menu">

									<li role="presentation"><a href="product.html" class="active" role="menuitem" tabindex="-1">办公设施</a></li>

									<li role="presentation"><a href="product.html" class="" role="menuitem" tabindex="-1">医疗建设</a></li>

								</ul>
							</li>

						</ul>
					</li>


					<li class="dropdown margin-left-0 ecodropdown">
						<a 
							class="dropdown-toggle link " 
							data-toggle="dropdown" 
							
							href="case.html" 
							aria-expanded="false" 
							role="button" 
							
							title="客户案例"
						>客户案例 <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
	
							<li class="visible-xs-block"><a href="case.html"  title="全部">全部</a></li>
	

							<li><a href="case.html" class=""  title="精装修房">精装修房</a></li>	

							<li><a href="case.html" class=""  title="酒店会所">酒店会所</a></li>	

							<li><a href="case.html" class=""  title="公共设施">公共设施</a></li>	

							<li class="dropdown-submenu">
								<a href="case.html" class=""  role="button" tabindex="-1">办公医疗</a>
								<ul class="dropdown-menu animate" role="menu">

									<li role="presentation"><a href="case.html" class="" role="menuitem" tabindex="-1">办公设施</a></li>

									<li role="presentation"><a href="case.html" class="" role="menuitem" tabindex="-1">医疗建设</a></li>

								</ul>

							</li>

						</ul>
					</li>


					<li class="dropdown margin-left-0 ecodropdown">
						<a 
							class="dropdown-toggle link " 
							data-toggle="dropdown" 
							
							href="news.html" 
							aria-expanded="false" 
							role="button" 
							
							title="新闻资讯"
						>新闻资讯 <span class="caret"></span></a>
						<ul class="dropdown-menu dropdown-menu-right bullet" role="menu">
	
							<li class="visible-xs-block"><a href="news.html"  title="全部">全部</a></li>
	

							<li><a href="news.html" class=""  title="公司新闻">公司新闻</a></li>	

							<li><a href="news.html" class=""  title="行业动态">行业动态</a></li>	

						</ul>
					</li>



					<li class="margin-left-0"><a href="job.html"  title="在线招聘" class="link ">在线招聘</a></li>


				</ul>	

				</div>
			</div>
		</div>
    </nav>

	<div class="met-banner-econy"  style="background-color:;" >
	<img src="picture/1474296568.jpg">
	  <div class="econynr">
		<div class="container">
			<div class="row">                
					<div class="title">
						<h1>服务项目</h1>
					</div>
					<div class="breadcumb">
						<i class="fa fa-home"></i> <a href="index.html" title="首页">首页</a> &gt; <a href="product.html" >服务项目</a> > <a href="product.html">办公医疗</a> > <a href="product.html">办公设施</a>
					</div>
				</div>
			</div>
		</div>
	</div>



<div class="hidden-lg hidden-md">

		<div class="met-column-nav  ">
			<div class="container">
				<div class="row">

<div class="col-md-9 sidebar_tile">
						<div class="row">
							<ul class="met-column-nav-ul">
	
							<li><a href="product.html" class="link"  title="全部">全部</a></li>
	

					<li class="dropdown">

						<a href="product.html" title="精装修房" class="link ">精装修房</a>

					</li>

					<li class="dropdown">

						<a href="product.html" title="酒店会所" class="link ">酒店会所</a>

					</li>

					<li class="dropdown">

						<a href="product.html" title="公共设施" class="link ">公共设施</a>

					</li>

					<li class="dropdown">

						<a href="product.html" title="办公医疗" class="link active" data-toggle="dropdown">
							办公医疗 <span class="caret"></span>
						</a>
						<ul class="dropdown-menu bullet">
	
							<li><a href="product.html"  title="全部">全部</a></li>


								<li><a href="product.html" class="active" title="办公设施">办公设施</a></li>

								<li><a href="product.html"  title="医疗建设">医疗建设</a></li>

						</ul>

					</li>

						</ul>
						</div>
					</div>
	
				</div>
			</div>
		</div>

</div>
<div class="eco-leftnav">
<div class="container">
<div class="row">
<div class="col-md-9 col-xs-12 pull-right">
						<div class="section-title-style">
							<h2>办公设施</h2>
						</div>

<div class="met-product animsition type-1">
	<div class="container">
		<div class="row">
			<div class="less-page-content">

			<ul class="blocks blocks-100 blocks-xlg-4 blocks-md-3 blocks-sm-2 met-page-ajax met-grid" id="met-grid">


				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="商务会所" target='_self'>
								<img class="cover-image" src="picture/p1389849064.jpg" height='299' alt="商务会所">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="商务会所" target='_self'>商务会所</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="商务会所" target='_self'>
								<img class="cover-image" src="picture/p1389849617.jpg" height='299' alt="商务会所">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="商务会所" target='_self'>商务会所</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="客厅" target='_self'>
								<img class="cover-image" src="picture/p1389850762.jpg" height='299' alt="客厅">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="客厅" target='_self'>客厅</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="卧室" target='_self'>
								<img class="cover-image" src="picture/p1389852216.jpg" height='299' alt="卧室">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="卧室" target='_self'>卧室</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="别墅" target='_self'>
								<img class="cover-image" data-original="upload/p1389852083.jpg" height='299' alt="别墅">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="别墅" target='_self'>别墅</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="公寓" target='_self'>
								<img class="cover-image" data-original="upload/p1389852374.jpg" height='299' alt="公寓">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="公寓" target='_self'>公寓</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="医疗美容" target='_self'>
								<img class="cover-image" data-original="upload/p1389862805.jpg" height='299' alt="医疗美容">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="医疗美容" target='_self'>医疗美容</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="医疗体检" target='_self'>
								<img class="cover-image" data-original="upload/p1389863570.jpg" height='299' alt="医疗体检">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="医疗体检" target='_self'>医疗体检</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="体育中心-游泳馆" target='_self'>
								<img class="cover-image" data-original="upload/p1389720952.jpg" height='299' alt="体育中心-游泳馆">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="体育中心-游泳馆" target='_self'>体育中心-游泳馆</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="地铁站" target='_self'>
								<img class="cover-image" data-original="upload/p1389720775.jpg" height='299' alt="地铁站">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="地铁站" target='_self'>地铁站</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="工商银行" target='_self'>
								<img class="cover-image" data-original="upload/p1389721311.jpg" height='299' alt="工商银行">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="工商银行" target='_self'>工商银行</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="大堂" target='_self'>
								<img class="cover-image" data-original="upload/p1389722535.jpg" height='299' alt="大堂">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="大堂" target='_self'>大堂</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="会议室" target='_self'>
								<img class="cover-image" data-original="upload/p1389847371.jpg" height='299' alt="会议室">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="会议室" target='_self'>会议室</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="商务酒店" target='_self'>
								<img class="cover-image" data-original="upload/p1389848201.jpg" height='299' alt="商务酒店">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="商务酒店" target='_self'>商务酒店</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="主题酒店" target='_self'>
								<img class="cover-image" data-original="upload/p1389848875.jpg" height='299' alt="主题酒店">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="主题酒店" target='_self'>主题酒店</a>
							
						</h4>
					</div>
				</li>

				<li class="masonry-item ">
					<div class="widget widget-shadow">
						<figure class="widget-header cover">
							<a href="showproduct.html" title="事务所" target='_self'>
								<img class="cover-image" data-original="upload/p1389863368.jpg" height='299' alt="事务所">
							</a>
						</figure>
						<h4 class="widget-title">
							<a href="showproduct.html" title="事务所" target='_self'>事务所</a>
							
						</h4>
					</div>
				</li>


			</ul>



<div class="hidden-xs">
		    <div class='met_pager'>
			<span class='PreSpan'>上一页</span><a href=# class='Ahover'>1</a><a href=# >2</a><a href=# class='NextA'>下一页</a>
			    <span class='PageText'>转至第</span>
			    <input type='text' id='metPageT' data-pageurl='product.html?lang=cn&class1=3&page=||2' value='1' />
			    <input type='button' id='metPageB' value='页' />
		    </div>
		</div>
<div class="met-page-ajax-body visible-xs-block invisible" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
	<button type="button" class="btn btn-default btn-block btn-squared ladda-button" id="met-page-btn" data-style="slide-left" data-url="product2.html?lang=cn&class1=3&class2=0&class3=0&mbpagelist=1" data-page="1"><i class="icon wb-chevron-down margin-right-5" aria-hidden="true"></i>更多产品</button>
</div>

			</div>
		</div>
	</div>
</div>
</div>

<div class="col-md-3 col-xs-12 pull-left">
<div class="met-all-bar">
<div class="hidden-xs hidden-sm">

  <h4>搜索</h4>
	<form method="get" action="search.html" >
	<input type="hidden" name="lang" value="cn">
    <input type="text" name="searchword" placeholder="Search">
    <button type="submit"><span class="sg-Search"></span></button>
  </form>
 

  <h4>服务项目<span class="sidebaran glyphicon glyphicon-th-list"></span></h4>
  <ul class="category_item met_aside_list" >

    <li><a href="product.html"  title="精装修房" target='_self'><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;精装修房</a> 
 
    </li>

    <li><a href="product.html"  title="酒店会所" target='_self'><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;酒店会所</a> 
 
    </li>

    <li><a href="product.html"  title="公共设施" target='_self'><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;公共设施</a> 
 
    </li>

    <li><a href="product.html" class='active' title="办公医疗" target='_self'><i class="fa fa-angle-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;办公医疗</a> 

      <ul>

        <li><a  class="active" href="product.html" title="办公设施" target='_self'>办公设施</a></li>

        <li><a   href="product.html" title="医疗建设" target='_self'>医疗建设</a></li>

      </ul>
 
    </li>

  </ul>
 
</div>
 

  <h4 data-plugin="appear" data-animate="slide-bottom" data-repeat="false">推荐产品</h4>
  <div class="row product_item" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">
 <ul>

  <li class="single_product_item col-xs-4 col-sm-4">
    <a  href="showproduct.html" title="商务会所" target='_self'><img class="cover-image" src="picture/l1389849064.jpg" alt="商务会所" title="商务会所"></a> 
	  <p>商务会所</p>
      <a  href="showproduct.html" title="商务会所" target='_self'>MORE</a>
  </li>

  <li class="single_product_item col-xs-4 col-sm-4">
    <a  href="showproduct.html" title="商务会所" target='_self'><img class="cover-image" src="picture/l1389849617.jpg" alt="商务会所" title="商务会所"></a> 
	  <p>商务会所</p>
      <a  href="showproduct.html" title="商务会所" target='_self'>MORE</a>
  </li>

  <li class="single_product_item col-xs-4 col-sm-4">
    <a  href="showproduct.html" title="客厅" target='_self'><img class="cover-image" src="picture/l1389850762.jpg" alt="客厅" title="客厅"></a> 
	  <p>客厅</p>
      <a  href="showproduct.html" title="客厅" target='_self'>MORE</a>
  </li>
 
  </ul>
</div>
 
<div class="clear"></div>

  <h4 data-plugin="appear" data-animate="slide-bottom" data-repeat="false">推荐新闻</h4>
  <ul class="post_item" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

    <li>Sep 17, 2016<a href="shownews.html" title="低碳建筑首选天然石材 环保健康受欢迎" target='_self'>低碳建筑首选天然石材 环保健康受欢迎</a></li>

    <li>Sep 17, 2016<a href="shownews.html" title="装修旺季促销建材家居景气指数回升" target='_self'>装修旺季促销建材家居景气指数回升</a></li>

    <li>Sep 17, 2016<a href="shownews.html" title="全球原木材原料严重紧缺危及建材行业" target='_self'>全球原木材原料严重紧缺危及建材行业</a></li>

    <li>Jan 14, 2014<a href="shownews.html" title="将文化融入设计 以设计推动创新" target='_self'>将文化融入设计 以设计推动创新</a></li>

    <li>Jan 15, 2014<a href="shownews.html" title="我国玻璃纤维产业规模居世界第一位" target='_self'>我国玻璃纤维产业规模居世界第一位</a></li>

  </ul>
 

  <h4 data-plugin="appear" data-animate="slide-bottom" data-repeat="false">热门关键词</h4>
  <ul class="clouds" data-plugin="appear" data-animate="slide-bottom" data-repeat="false">

    <li><a href="search.html" title="卧室装修"  target='_self'>卧室装修</a></li>

    <li><a href="search.html" title="酒店装修"  target='_self'>酒店装修</a></li>

    <li><a href="search.html" title="会所装修"  target='_self'>会所装修</a></li>

    <li><a href="search.html" title="房屋精装"  target='_self'>房屋精装</a></li>

  </ul>
   
</div>
</div>

</div>
</div>
</div>

<div class="ecofootbg">


<script src="js/common.js"></script>
</body>
</html>