<!DOCTYPE HTML>
<html >
<head>
<title>html5响应式装饰公司网站模板</title>
<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="generator" content=""  data-variable=",,,,,zstyle" />
<meta name="description" content="关键词" />
<meta name="keywords" content="描述" />
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<!--[if lt IE 10]>
<script src="js/media.match.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/classlist.min.js"></script> 
<![endif]-->
</head>




<body class="met-navfixed">
<!--[if lte IE 8]>
	<div class="text-center padding-top-50 padding-bottom-50 bg-blue-grey-100">
	<p class="browserupgrade font-size-18">你正在使用一个<strong>过时</strong>的浏览器。请<a href="http://browsehappy.com/" target="_blank">升级您的浏览器</a>，以提高您的体验。</p>
	</div>
<![endif]-->

<nav id="mobileNav" style="display:none;">
  <ul>
    <li><a  href="index.html" title="首页">首页</a></li>


    <li ><span>关于我们</span>


      <ul>
	
							<li class=""><a href="about.html"  title="关于我们">关于我们</a></li>
 
        

   <li><a href="about.html"  title="公司简介">公司简介</a> 
      
 
        </li>


   <li ><a href="about.html"  title="企业文化">企业文化</a> 
      
 
        </li>


   <li ><a href="about.html"  title="工程保修">工程保修</a> 
      
 
        </li>


   <li ><a href="about.html"  title="装修流程">装修流程</a> 
      
 
        </li>


   <li ><a href="feedback.html"  title="在线反馈">在线反馈</a> 
      
 
        </li>


   <li ><a href="contact.html"  title="联系我们">联系我们</a> 
      
 
        </li>

      </ul>
 
    </li>


    <li ><span>服务项目</span>


      <ul>
	
							<li class=""><a href="product.html"  title="全部">全部</a></li>
 
        

   <li ><a href="product.html"  title="精装修房">精装修房</a> 
      
 
        </li>


   <li ><a href="product.html"  title="酒店会所">酒店会所</a> 
      
 
        </li>


   <li ><a href="product.html"  title="公共设施">公共设施</a> 
      
 
        </li>


    <li ><span>办公医疗</span>
      

          <ul>
	
							<li class=""><a href="product.html"  title="全部">全部</a></li>


            <li><a href="product.html"  title="办公设施">办公设施</a></li>

            <li><a href="product.html"  title="医疗建设">医疗建设</a></li>

          </ul>
 
        </li>

      </ul>
 
    </li>


    <li ><span>客户案例</span>


      <ul>
	
							<li class=""><a href="case.html"  title="全部">全部</a></li>
 
        

   <li ><a href="case.html"  title="精装修房">精装修房</a> 
      
 
        </li>


   <li ><a href="case.html"  title="酒店会所">酒店会所</a> 
      
 
        </li>


   <li ><a href="case.html"  title="公共设施">公共设施</a> 
      
 
        </li>


    <li ><span>办公医疗</span>
      

          <ul>
	
							<li class=""><a href="case.html"  title="全部">全部</a></li>


            <li><a href="case.html"  title="办公设施">办公设施</a></li>

            <li><a href="case.html"  title="医疗建设">医疗建设</a></li>

          </ul>
 
        </li>

      </ul>
 
    </li>


    <li class="active"><span>新闻资讯</span>


      <ul>
	
							<li class=""><a href="news.html"  title="全部">全部</a></li>
 
        

   <li ><a href="news.html"  title="公司新闻">公司新闻</a> 
      
 
        </li>


   <li class="active"><a href="news.html"  title="行业动态">行业动态</a> 
      
 
        </li>

      </ul>
 
    </li>


   <li ><a href="job.html"  title="在线招聘" >在线招聘</a> 

 
    </li>
 

  </ul>
</nav>

<div id="page">

	<div class="met-banner-econy"  style="background-color:;" >
	<img src="picture/1474296568.jpg">
	  <div class="econynr">
		<div class="container">
			<div class="row">                
					<div class="title">
						<h1>行业动态</h1>
					</div>
					<div class="breadcumb">
						<i class="fa fa-home"></i> <a href="index.html" title="首页">首页</a> &gt; <a href="news.html" >新闻资讯</a> > <a href="news.html">行业动态</a>
					</div>
				</div>
			</div>
		</div>
	</div>



<section class="met-news animsition">
	<div class="container">
		<div class="row">
			<div class="col-md-9 met-news-body">
				<div class="row">
					<div class="met-news-list">

<ul class="met-page-ajax">


	<li>
		<h4>
			<a href="shownews.html" title="低碳建筑首选天然石材 环保健康受欢迎" target='_self'>
				低碳建筑首选天然石材 环保健康受欢迎
			</a>
		</h4>
		<p class="des">所谓低碳经济，是指在可持续发展理念指导下，通过技术创新、制度创新、产业转型等多种手段，尽可能地减少煤炭石油等高碳能源消耗，减少排放，达到经济社会发展与生态环境保护双赢的一种经济发展形态。尽可能地减少煤炭石油等高碳能源消耗，减少排放，达到经济社会发展与生态环境保护双赢的一种经济发展形态。...</p>
		<p class="info">
			<span>2016-09-17</span>
			<span class="margin-left-10">admin</span>
			<span class="margin-left-10"><i class="icon wb-eye margin-right-5" aria-hidden="true"></i>339</span>
		</p>
	</li>

	<li>
		<h4>
			<a href="shownews.html" title="装修旺季促销建材家居景气指数回升" target='_self'>
				装修旺季促销建材家居景气指数回升
			</a>
		</h4>
		<p class="des">  由中国建筑材料流通协会发布的全国建材家居景气指数BHI9月份为119.02，环比上升10.05%，同比上升1.35%。这符合业界预期。由中国建筑材料流通协会发布的全国建材家居景气指数BHI9月份为119.02，环比上升10.05%，同比上升1.35%。这符合业界预期。...</p>
		<p class="info">
			<span>2016-09-17</span>
			<span class="margin-left-10">admin</span>
			<span class="margin-left-10"><i class="icon wb-eye margin-right-5" aria-hidden="true"></i>196</span>
		</p>
	</li>

	<li>
		<h4>
			<a href="shownews.html" title="全球原木材原料严重紧缺危及建材行业" target='_self'>
				全球原木材原料严重紧缺危及建材行业
			</a>
		</h4>
		<p class="des">众所周知，海啸给中国地板、家具行业的影响正在逐步显现。由于印尼等国实行出口紧缩政策，使全球原木材原料供给吃紧，国内那些过分依靠海外采购原木材的下游企业将面临难关。业界已经把目光投向了南美、非洲，但是假如不能把握上游资源，仍难以咽下成本暴涨的苦果。...</p>
		<p class="info">
			<span>2016-09-17</span>
			<span class="margin-left-10">admin</span>
			<span class="margin-left-10"><i class="icon wb-eye margin-right-5" aria-hidden="true"></i>133</span>
		</p>
	</li>

	<li>
		<h4>
			<a href="shownews.html" title="我国玻璃纤维产业规模居世界第一位" target='_self'>
				我国玻璃纤维产业规模居世界第一位
			</a>
		</h4>
		<p class="des">经过近10年的高速发展以后，我国的玻璃纤维产业不仅规模跃居世界第一位，而且产品质量同样比肩世界一流水平。...</p>
		<p class="info">
			<span>2014-01-16</span>
			<span class="margin-left-10">admin</span>
			<span class="margin-left-10"><i class="icon wb-eye margin-right-5" aria-hidden="true"></i>74</span>
		</p>
	</li>

	<li>
		<h4>
			<a href="shownews.html" title="智能家居成为装修新趋势 发展势在必行" target='_self'>
				智能家居成为装修新趋势 发展势在必行
			</a>
		</h4>
		<p class="des">智能家居行业在近几年的时间里得到了一个较快的发展时期，随着楼市的调控政策频现，房地产商在市场竞争中将智能化的应用设计成为楼盘的一大卖点，因此越来越多的智能住宅、智能小区应运而生，而智能家居也成为了目前家装的新潮流，得到了众多开发商和消费者的青睐。...</p>
		<p class="info">
			<span>2014-01-15</span>
			<span class="margin-left-10">admin</span>
			<span class="margin-left-10"><i class="icon wb-eye margin-right-5" aria-hidden="true"></i>33</span>
		</p>
	</li>

	<li>
		<h4>
			<a href="shownews.html" title="家装"隐形杀手"看装修市场暗藏三大玄机" target='_self'>
				家装"隐形杀手"看装修市场暗藏三大玄机
			</a>
		</h4>
		<p class="des"> 随着人们环保意识的提高，"绿色环保"装修成为家装行业的一个炒作噱头。事实上，大部分消费者对绿色环保家装的认识存在一定的"误区"，有些人认为...</p>
		<p class="info">
			<span>2014-01-15</span>
			<span class="margin-left-10">admin</span>
			<span class="margin-left-10"><i class="icon wb-eye margin-right-5" aria-hidden="true"></i>28</span>
		</p>
	</li>
 

</ul>

<div>
		    <div class='met_pager'>
			<span class='PreSpan'>上一页</span><a href=news.html?lang=cn&class1=2&class2=11 class='Ahover'>1</a><a href=news.html?lang=cn&class1=2&class2=11&page=2 >2</a><a href=news.html?lang=cn&class1=2&class2=11&page=2 class='NextA'>下一页</a>
			    <span class='PageText'>转至第</span>
			    <input type='text' id='metPageT' data-pageurl='news.html?lang=cn&class1=2&class2=11&page=||2' value='1' />
			    <input type='button' id='metPageB' value='页' />
		    </div>
		</div>

					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="row">

					<div class="met-news-bar">

                        <form method='get' action="search.html">
                            <input type='hidden' name='lang' value='cn' />
                            <input type='hidden' name='class1' value='2' />
                            <div class="form-group">
                                <div class="input-search">
                                    <button type="submit" class="input-search-btn"><i class="icon wb-search" aria-hidden="true"></i></button>
                                    <input type="text" class="form-control" name="searchword" placeholder="Search">
                                </div>
                            </div>
                        </form>

						<div class="recommend news-list-md">
							<h3>为您推荐</h3>
							<ul class="list-group list-group-bordered">

								<li class="list-group-item"><a href="shownews.html" title="低碳建筑首选天然石材 环保健康受欢迎" target='_self'>低碳建筑首选天然石材 环保健康受欢迎</a></li>

								<li class="list-group-item"><a href="shownews.html" title="装修旺季促销建材家居景气指数回升" target='_self'>装修旺季促销建材家居景气指数回升</a></li>

								<li class="list-group-item"><a href="shownews.html" title="全球原木材原料严重紧缺危及建材行业" target='_self'>全球原木材原料严重紧缺危及建材行业</a></li>

								<li class="list-group-item"><a href="shownews.html" title="将文化融入设计 以设计推动创新" target='_self'>将文化融入设计 以设计推动创新</a></li>

								<li class="list-group-item"><a href="shownews.html" title="我国玻璃纤维产业规模居世界第一位" target='_self'>我国玻璃纤维产业规模居世界第一位</a></li>

							</ul>
						</div>

                        <ul class="column">
                            <li><a href="news.html" title="所有文章" target='_self'>所有文章</a></li>

                            <li><a href="news.html"  title="公司新闻">公司新闻</a></li>


                            <li><a href="news.html" class="active" title="行业动态">行业动态</a></li>


                        </ul>

					</div>

				</div>
			</div>
		</div>
	</div>
</section>

<div class="ecofootbg">


<script src="js/common.js"></script>
</body>
</html>
