<!DOCTYPE HTML>
<html >
<head>
<meta name="renderer" content="webkit">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<!--[if lt IE 10]>
<script src="js/media.match.min.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/classlist.min.js"></script> 
<![endif]-->
<style type="text/css" media="screen">
	.pageTitle h3{
		text-align: center;
	}
	.pageTitle p{
		text-align: center;
		color:#999;
	}
	.newsImage {		
		width:350px;
		height:200px;
	}
	.newsList {
		width:90%;
		margin:0 auto;
	}
</style>
</head>

	<body class="met-navfixed">
	<!--[if lte IE 8]>
		<div class="text-center padding-top-50 padding-bottom-50 bg-blue-grey-100">
		<p class="browserupgrade font-size-18">你正在使用一个<strong>过时</strong>的浏览器。请<a href="http://browsehappy.com/" target="_blank">升级您的浏览器</a>，以提高您的体验。</p>
		</div>
	<![endif]-->
		
		<section class="met-news animsition">
			<div class="container">
				<div class="pageTitle">
					<h3>企业新闻</h3>
					<p>ENTERPRISE NEWS</p>
				</div>	
				<div class="">
					<div class="met-news-body">
						<div class="newsList">
							<div class="met-news-list">
								<ul class="met-page-ajax">
									<li>
										<h4>
											<a href="shownews.html" title="低碳建筑首选天然石材 环保健康受欢迎" target='_self'>
											低碳建筑首选天然石材 环保健康受欢迎
											</a>
										</h4>
										<%= image_tag "yyj_banner.jpg",class:'newsImage' %>
										<p class="des">所谓低碳经济，是指在可持续发展理念指导下，通过技术创新、制度创新、产业转型等多种手段，尽可能地减少煤炭石油等高碳能源消耗，减少排放，达到经济社会发展与生态环境保护双赢的一种经济发展形态。尽可能地减少煤炭石油等高碳能源消耗，减少排放，达到经济社会发展与生态环境保护双赢的一种经济发展形态。...</p>
										<p class="info">
											<span>2016-09-17</span>
											<span class="margin-left-10">admin</span>
										</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</body>
</html>
