<style type="text/css" media="screen">

	.outDiv {
		margin-top:2%;
		margin-bottom:2%;
	}	

	.pageTitle h3{
		text-align: center;
	}
	.pageTitle p{
		text-align: center;
		color:#999;
	}	

	.links{
		text-align: center;
		line-height: 5;
	}
	.links a{
		color:#000;
	}

</style>


<%= javascript_include_tag "application"%>

<div class="container outDiv">
	<div class="links">
		<a href="../about/index" title="公司简介">公司简介</a><span>/</span>
		<a href="../about/culture" title="企业文化">企业文化</a><span>/</span>
		<a href="../about/big_event" title="企业大事件">企业大事件</a><span>/</span>
		<a href="../about/framework"  title="组织架构">组织架构</a><span>/</span>
		<a href="../about/video"  title="宣传片">宣传片</a>	
	</div>
	<div class="pageTitle">
		<h3>企业大事件</h3>
		<p>BIG BUSINESS EVENTS</p>
	</div>
	<div id="iframe-wrap">
	<section id="iframe" frameborder="0" width="100%" height="896px">
		

	<div class="w1000">
		
		<h1 class="header">点滴努力大事件</h1>

		<div class="event_wrap clearfix">
			<div class="middle_line"><i class="first"></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i class="last"></i><i class="first"></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i class="last"></i></div>			
		<div class="list_left list"><span class="big_squre"><i>2015</i></span><div class="ev_text ev_text_event ev_t2 aActiveWid"><span class="small_squire"><i></i></span><span class="small_line"></span><h3>2015年2月29</h3><p>米校园创业团队正式成立，确定以“个性化定制”为核心的校园综合服务团队，覆盖20多所大学，成为小</p></div><div class="ev_text_odd ev_text ev_t4 aActiveWid"><span class="small_squire"><i></i></span><span class="small_line"></span><h3>2015年4月3</h3><p>米校园创业团队正式成立，确定以“个性化定制”为核心的校园综合服务团队，覆盖20多所大学，成为小</p></div><div class="ev_text ev_text_event ev_t10 aActiveWid"><span class="small_squire"><i></i></span><span class="small_line"></span><h3>2015年10月11日</h3><p>米校园创业团队正式成立，确定以“个性化定制”为核心的校园综合服务团队，覆盖20多所大学，成为小</p></div></div><div class="list_right list"><span class="big_squre"><i>2016</i></span><div class="ev_text ev_text_event ev_t2 aActiveWid"><span class="small_squire"><i></i></span><span class="small_line"></span><h3>2016年2月18</h3><p>米校园创业团队正式成立，确定以“个性化定制”为核心的校园综合服务团队，覆盖20多所大学，成为小</p></div><div class="ev_text_odd ev_text ev_t4 aActiveWid"><span class="small_squire"><i></i></span><span class="small_line"></span><h3>2016年4月15</h3><p>米校园创业团队正式成立，确定以“个性化定制”为核心的校园综合服务团队，覆盖20多所大学，成为小</p></div></div></div>

		</div>

	</section>
</div>
</div>


<script type="text/javascript">
$(document).ready(function () {
	function fixHeight() {
		var headerHeight = $("#switcher").height();
		$("#iframe").attr("height", $(window).height()-54+ "px");
	}
	$(window).resize(function () {
		fixHeight();
	}).resize();

	$('.icon-monitor').addClass('active');

	$(".icon-mobile-3").click(function () {
		$("#by").css("overflow-y", "auto");
		$('#iframe-wrap').removeClass().addClass('mobile-width-3');
		$('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
		$(this).addClass('active');
		return false;
	});

	$(".icon-mobile-2").click(function () {
		$("#by").css("overflow-y", "auto");
		$('#iframe-wrap').removeClass().addClass('mobile-width-2');
		$('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
		$(this).addClass('active');
		return false;
	});

	$(".icon-mobile-1").click(function () {
		$("#by").css("overflow-y", "auto");
		$('#iframe-wrap').removeClass().addClass('mobile-width');
		$('.icon-tablet,.icon-mobile,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
		$(this).addClass('active');
		return false;
	});

	$(".icon-tablet").click(function () {
		$("#by").css("overflow-y", "auto");
		$('#iframe-wrap').removeClass().addClass('tablet-width');
		$('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
		$(this).addClass('active');
		return false;
	});

	$(".icon-monitor").click(function () {
		$("#by").css("overflow-y", "hidden");
		$('#iframe-wrap').removeClass().addClass('full-width');
		$('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
		$(this).addClass('active');
		return false;
	});
});
</script>


<script type="text/javascript">
function Responsive($a) {
	if ($a == true) $("#Device").css("opacity", "100");
	if ($a == false) $("#Device").css("opacity", "0");
	$('#iframe-wrap').removeClass().addClass('full-width');
	$('.icon-tablet,.icon-mobile-1,.icon-monitor,.icon-mobile-2,.icon-mobile-3').removeClass('active');
	$(this).addClass('active');
	return false;
};
</script>


<script type="text/javascript">
	$(function(){
		var bigEvent =[{
		'year' : 2015,
		'events' :[
		{
			'mouths' : 2,
			'times' :'2015年2月29',
			'even' :'米校园创业团队正式成立，确定以“个性化定制”为核心的校园综合服务团队，覆盖20多所大学，成为小'
		},{
			'mouths' : 4,
			'times' :'2015年4月3',
			'even' :'米校园创业团队正式成立，确定以“个性化定制”为核心的校园综合服务团队，覆盖20多所大学，成为小'
		},{
			'mouths' : 10,
			'times' :'2015年10月11日',
			'even' :'米校园创业团队正式成立，确定以“个性化定制”为核心的校园综合服务团队，覆盖20多所大学，成为小'
		}]
	},{
		'year' : 2016,
		'events' :[
		{
			'mouths' : 2,
			'times' :'2016年2月18',
			'even' :'米校园创业团队正式成立，确定以“个性化定制”为核心的校园综合服务团队，覆盖20多所大学，成为小'
		},{
			'mouths' : 4,
			'times' :'2016年4月15',
			'even' :'米校园创业团队正式成立，确定以“个性化定制”为核心的校园综合服务团队，覆盖20多所大学，成为小'
		}
		]}];
		$('.event_wrap').eventFlow({'events':bigEvent});
	})

</script>