<style type="text/css" media="screen">
	.outDiv {
		margin-top:2%;
		margin-bottom:2%;
	}
	.pageTitle h3{
		text-align: center;
	}
	.pageTitle p{
		text-align: center;
		color:#999;
	}
	.links{
		text-align: center;
		line-height: 5;
	}
	.links a{
		color:#000!important;
		text-decoration: none!important;
	}	
	.content p{
		text-indent:2em;
		line-height: 1.5em;
	}
	
	.list-img{
		width: 48.8%;
    	margin: 0 0.5% 1%;
    	float: left;
	}
	.list-img img{
		width: 100%;
    	margin: 0 0.5% 1%;
	}
	.about {
		width: 100%;
	}
</style>



<div class="container outDiv">
	<div class="links">
		<a href="../about/index" title="公司简介">公司简介</a><span>/</span>
		<a href="../about/culture" title="企业文化">企业文化</a><span>/</span>
		<a href="../about/big_event" title="企业大事件">企业大事件</a><span>/</span>
		<a href="../about/framework"  title="组织架构">组织架构</a><span>/</span>
		<a href="../about/video"  title="宣传片">宣传片</a>	
	</div>
	<div class="pageTitle">
		<h3>公司简介</h3>
		<p>COMPANY PROFILE</p>
	</div>
	<div class="content">
		<p>北京有庆御通医疗投资有限公司为《中国御邦医通商业模式》支撑下的有庆御通（中国）商业体系的控制总部，成立于2014年7月，注册资本5000万元，公司以“为人类的健康、长寿、快乐而奋斗”为使命，以“打造和文化、构建合康态、助力中国梦”为核心理念；致力于在健康产业、医疗卫生行业依托“中国特色1.2.6动态慢病健康管理”模式，打造“互联网+生命质量控制”的商业模式----《中国御邦医通商业模式》，构建一个围绕健康产业的绿色健康生态体系----有庆御通（中国）商业体系.</p>
		<p>经过两年的发展，体系内已直接投资控股并运营的有深圳御邦医通数字化健康服务有限公司、深圳御邦资本管理有限公司、深圳御邦壹栋置业有限公司、北京御邦聚纳教育咨询有限公司、北京御邦會健康管理有限公司，并在新疆、四川、贵州等地分别成立御邦医通聖平台公司。御邦医通以其专业的能力及商业模式，吸引了一批优秀的企业，达成长期的战略合作关系，如北京银辉生化科技有限公司、中营康园（北京）科技有限公司、峨眉印象地产等，并间接参股沈阳四圣心源中医院管理有限公司、北京祥颐共生养老投资有限公司。</p>
		<p>有庆御通（中国）商业体系（以下简称“有庆体系”）的控股总部公司，“有庆体系”以推动能够有效解决慢性病问题的“中国特色1.2.6动态慢病健康管理模式”为根本，以《御邦医通商业模式》（数字化+健康管理）为支撑，以有庆体系为运营、实施，在全国落地“唱响一曲主旋律·建设一个主系统·做好一件民生事”系统工程，以“数字社区综合服务平台+御邦医通社区数字健康管理平台”为落地项目。“有庆体系”以“打造和合文化，构建小康社会，共筑中国梦”为经营理念，涉及文化、科技、教育、健康等多个领域。</p>
		
	</div>
	<div class="about">
			<div class="list-img"><%= image_tag "new01.png" %></div>	
			<div class="list-img"><%= image_tag "new02.png" %></div>
		</div>	
	
</div>