<style type="text/css" media="screen">

	.outDiv {
		margin-top:2%;
		margin-bottom:2%;
	}	

	.pageTitle h3{
		text-align: center;
		font-size: 18px;
		line-height: 35px;
		color: #ad0e11;
	}
	.pageTitle p{
		text-align: center;
		color:#999;
		margin-bottom: 10px;
	}

	.main-lxwm {
		width: 1100px;
		height: auto;
		margin: 0 auto;
		overflow: hidden;
		text-align: center;
	}

	.main-lxwm-left,.main-lxwm-right {
		width: 542px;
		height: auto;
		float: left;
		margin-bottom: 15px;
	}

	.main-lxwm-right span ,.main-lxwm-left span {
		font-size: 20px;
		color: #d68b37;
		font-weight: bolder;
	}

	.main-lxwm-right ul li , .main-lxwm-left ul li {
		font-size: 13px;
		color: #747474;
		line-height: 25px;
	}

	@media only screen and (max-width: 1099px){
		.main-min, .main-min>div {
			width: 100%;
		}

		.main-min, .main-min>div {
			width: 100%;
			margin-bottom: 20px;
		}
		.main-lxwm {
			width: 1100px;
			height: auto;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;
		}

		.main-lxwm-left,.main-lxwm-right {
			width:100%;
			margin-bottom: 15px;
		}

		.main-lxwm-right span ,.main-lxwm-left span {
			font-size: 16px;
		}

		.main-input,.main-input-4 {
			width: 49%!important;
			margin-top:15px;
			margin-right: 0.5%!important;
		}
	}

	.contact {
		border-top:1px solid #747474;
		margin-top: 20px;
		margin-bottom: 50px;
	}

	.contact h3 {
		text-align: center;
		font-size: 20px;
	}

	.contact input {
		line-height: 40px;
	}

	.main-input,.main-input-4 {
		border: 0!important;
		height: 45px;
		background: #ededed;
		width: 24%!important;
		color: #999;
		padding-left: 15px!important;
		margin-top: 15px;
	}

	.main-input {
		margin-right: 0.7%;
	}

	.main-wb {
		width: 100%;
		background: #eeeeee;
		border: 0px;
		height: 160px;
		margin-top: 20px;
		color: #b9b9b9;
		line-height: 30px;
		padding-left: 15px;
	}

	.main-but {
		width: 132px!important;
		height: 46px!important;
		border: 0!important;
		text-align: center;
		color: #FFF!important;
		margin:0 auto;
		display: block;
		margin-top: 20px;
		background: #d68b37!important;
		border-radius: 0!important;
		text-shadow: none!important;
	}

</style>


<div class="container outDiv">
	<div class="pageTitle">
		<h3>联系我们</h3>
		<p>CONTACT US</p>
	</div>
	<div class="main-min">
		<div class="main-lxwm">
			<div class="main-lxwm-right">
				<span>北京有庆御通医疗投资有限公司</span>
				<ul>
					<li>公司地址：北京市东城区王府井大街99号世纪大厦A801<br>
					邮编：100000<br>
					电话：010-57439297</li>
				</ul>
			</div>
			<div class="main-lxwm-left">
				<span>深圳御邦医通数字化健康服务有限公司</span>
				<ul>
					<li>公司地址：深圳市南山区中山园路1001号国际E城F1栋6楼<br>
					邮编：518000<br>
					电话：0755-86700010<br>
					传真：0755-21621185</li>
				</ul>
			</div>
			<div class="main-lxwm-right">
				<span>四川御邦医通数字化健康服务有限公司</span>
				<ul>
					<li>公司地址：成都市武侯区威斯顿联邦大厦10楼<br>
					邮编：610041</li>
				</ul>
			</div>
			<div class="main-lxwm-left">
				<span>新疆御邦医通数字化健康服务有限公司</span>
				<ul>
					<li>公司地址：新疆乌鲁木齐市新市区新医路165号汇文大厦5层<br>
					邮编：830000</li>
				</ul>
			</div>
			<div class="main-lxwm-right">
				<span>贵州御邦医通数字化健康服务有限公司</span>
				<ul>
					<li>公司地址：贵州省贵阳市南明区花果园国际金融街2号814室<br>
					邮编：550001<br>
					电话：0851-85977187</li>
				</ul>
			</div>
		</div>   
	</div>
	<div class="contact">
        <h3>填写需求信息给我们</h3>
        <form id="form1" action="" method="post">
			<input name="addnew[subject]" id="subject" type="text" value="" class="main-input" style="margin-left:0" placeholder="您的姓名">
			<input name="addnew[tel]" id="tel" type="text" value="" class="main-input" placeholder="您的电话">
			<input name="addnew[comp]" id="comp" type="text" value="" class="main-input" placeholder="您的公司">
			<input name="addnew[email]" id="email" type="text" value="" class="main-input-4" placeholder="您的邮箱">
			<textarea name="addnew[remark]" id="remark" cols="2" rows="70" class="main-wb" placeholder="详细描述"></textarea>
			<input name="提交信息" type="submit" class="main-but" value="提交信息">
        </form>
	</div>
</div>